[submodule "extern/SDL3"]
	path = extern/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/flecs"]
	path = extern/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm.git
[submodule "extern/cmocka"]
	path = extern/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
